# Python
*.py[co]
.eggs/

# OSX
.DS_Store
.AppleDouble
.LSOverride
Icon

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# PyCharm settings
.idea
.idea/*

# Eclipse
.pydevproject
.project
.metadata
.settings/

# Vim
*.swp
.ropeproject/

# Test cache data
/.cache

# html mails
*local*.html

.ssh/
.cache/

# env files
.env

# coverage file
.coverage
__pycache__/

# virtualenv
.venv/
