# Python requests library
requests==2.22.0

# Asynchronous requests
aiohttp==3.5.4
async-timeout==3.0.1
chardet==3.0.4
multidict==4.5.2
yarl==1.2.6

# utilize 12-factor inspired environment variables
django-environ==0.4.5

# Serializing/Deserializing
marshmallow==3.0.0rc8
