# To easily create object instances for testing
factory_boy==2.9.2

# Testing
pytest==5.0.1
pytest-env==0.6.2
pytest-socket==0.3.3
pytest-aiohttp==0.2.0
requests-mock==1.6.0
aioresponses==0.6.0
asynctest==0.13.0
pytest-django==3.5.1

# coverage
pytest-cov
coverage
coveralls

# flake8
flake8
pep8
pyflakes
mccabe
pep8-naming
flake8-print
flake8-debugger
